@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
:root{
     --font-clr:#fff;
     --bcg-clr:#fff;
     --second-bcg-clr:#F1F2F4;
     --txt-clr:#000;
     --primary-clr:#212832;
     --secondary-clr:#FBC135;
     --hover-clr:#9c7519;
     --first-font:"Satisfy", cursive;
     --second-font:"Inter", sans-serif;
     --third-font:"Poppins", sans-serif;
}
*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     scroll-behavior: smooth;
}
.span-txt{
     color: var(--secondary-clr);
}
.btns{
     padding: 12px 22px;
     border-radius: 6px;
     border: none;
     color: var(--font-clr);
     font-family: var(--second-font);
     font-weight: 600;
     font-size: 1rem;
     background-color: var(--secondary-clr);
}

/* Blog Section Styling */
.blog-section{
     background-color: var(--bcg-clr);
     object-fit: fill;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     width: 100%;       
}
.nav-bar{
     height: 9vh;
     width: 100%;
     padding: 0px 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--primary-clr);
}
.nav-bar > div > p{
     font-size: 2rem;
     font-family: var(--first-font);
     color:var(--font-clr);
     font-weight: 600;
     letter-spacing: 1px;
}
.nav-bar > div > ol > li{
     display: inline;
}
.nav-bar > div > ol > li > a{
     text-decoration: none;
     color: var(--font-clr);
     font-size: 1.2rem;
     font-family: var(--third-font);
     font-weight: 500;
     padding: 0px 6px;
     letter-spacing: .5px;
     &:hover{
          color: var(--secondary-clr);
          transition: .5s ease;
     }
}
.nav-bar > div:nth-child(3){
     display: flex;

}
.nav-bar > div:nth-child(3) > div > i{
     color: var(--secondary-clr);
     font-size: 1.8rem;
     padding: 0px 6px;
     &:hover{
          color: var(--hover-clr);
          transition: .5s ease;
     }
}
.blog-section > .hero-section{
     /* background-color: #9c7519; */
     height: 91vh;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
     flex-direction: column;
}
.blog-section .hero-section img{
     height: 500px;
     width: 1400px;
     border-radius: 40px;
}
.hero-section h1{
     font-size: 1.9rem;
     color: var(--secondary-clr);
     font-family: var(--first-font);
}

/* blogs-sections */
.blogs-section{
     height: 230vh;
     width: 100%;
     background-color: var(--primary-clr);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 20px;
}
.blogs-section .bogs{
     height: 300px;
     width: 80%;
     background-color: var(--bcg-clr);
     border-radius: 30px;
     padding: 30px;
     display: flex;
     gap: 20px;
}
.blogs-section > .bogs > div:nth-child(2){
     /* display: flex; */
     /* flex-direction: column; */
     /* background-color: var(--hover-clr); */
     /* justify-content: center; */
     /* flex: 1; */
}
.blogs-section .bogs div h1{
     font-family: var(--second-font);
     margin-bottom: 10px;
     width: 600px;
}
.blogs-section .bogs div p{
     width: 600px;
     font-family: var(--third-font);
     font-size: .9rem;
     margin-bottom: 10px;
}
.blogs-section .bogs div img{
     height: 240px;
     width: 400px;
     border-radius: 18px;
}

